<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.hitao.mapper.permission.ShopRoleMenuMapper">
    <!--shop_role_menu表中的列-->
    <sql id="shopRoleMenuBaseColumn">
         id,
         role_id,
         menu_id
    </sql>


    <!--添加-->
    <insert id="addShopRoleMenu" parameterType="com.hzitxx.hitao.system.pojo.permission.ShopRoleMenu">
        INSERT INTO shop_role_menu(
            <include refid="shopRoleMenuBaseColumn"/>
        ) VALUES(
                #{id},
                #{roleId},
                #{menuId}
        )
    </insert>
    <insert id="addShopRoleMenuSelective" parameterType="com.hzitxx.hitao.system.pojo.permission.ShopRoleMenu">
        insert into shop_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="menuId != null">
                menu_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="menuId != null">
                #{menuId},
            </if>
        </trim>
    </insert>
    <!--根据id删除数据-->
    <delete id="deleteById" parameterType="integer">
        DELETE FROM  shop_role_menu WHERE
        id = #{id}
    </delete>
    <!--根据角色编号删除数据-->
    <delete id="deleteByRoleId" parameterType="integer">
        DELETE FROM  shop_role_menu WHERE
        role_id = #{roleId}
    </delete>
    <!--根据id批量删除数据-->
    <delete id="deleteByIds" parameterType="java.lang.String">
          delete FROM  shop_role_menu WHERE id in
          <foreach item="idItem" collection="array" open="(" separator="," close=")">
            #{idItem}
          </foreach>
    </delete>
    <!--根据id修改数据-->
    <update id="updateById" parameterType="com.hzitxx.hitao.system.pojo.permission.ShopRoleMenu">
        UPDATE shop_role_menu
        <set>
          id=#{id},
          role_id=#{roleId},
          menu_id=#{menuId}
        </set>
        WHERE
           id = #{id}
    </update>

    <update id="updateSelectiveById" parameterType="com.hzitxx.hitao.system.pojo.permission.ShopRoleMenu">
        UPDATE shop_role_menu
        <set>
    <if test="id != null">
          id = #{id},
    </if>
    <if test="roleId != null">
          role_id = #{roleId},
    </if>
    <if test="menuId != null">
          menu_id = #{menuId},
    </if>
    </set>
        WHERE
      id = #{id}
    </update>
    <!--根据id查询一条数据-->
    <select id="findOne" resultMap="shopRoleMenuMap" parameterType="integer">
        select
        <include refid="shopRoleMenuBaseColumn"/>
        from
            shop_role_menu
        WHERE
          id = #{id}
    </select>
    <!--查询数据-->
    <select id="searchShopRoleMenu" parameterType="map" resultMap="shopRoleMenuMap">
        SELECT
        <include refid="shopRoleMenuBaseColumn"/>
        FROM shop_role_menu
        <include refid="shopRoleMenuBaseWhereSql"/>
    </select>
    <!--基础查询条件-->
    <sql id="shopRoleMenuBaseWhereSql">
        <where>
            <if test="id !=null">
                AND id = #{id}
            </if>
            <if test="roleId !=null">
                AND role_id = #{roleId}
            </if>
            <if test="menuId !=null">
                AND menu_id = #{menuId}
            </if>
        </where>
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="shopRoleMenuMap" type="com.hzitxx.hitao.system.pojo.permission.ShopRoleMenu">
            <id column="id" property="id"/>
            <result column="role_id" property="roleId"/>
            <result column="menu_id" property="menuId"/>
     </resultMap>
</mapper>
